.btn{
    position: absolute;
    &.active{
        color: red;
    }
}
.list{
    li{
        &:last-child{
            margin-right: 0;
        }
    }
}
.fs{
    &-small{
        font-size: 14px;
    }
    &-medium{
        font-size: 16px;
    }
    &-large{
        font-size: 18px;
    }
}