#a{
    display: inline-block;
    position: static;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: blue;
}
#b{
    display: inline-block;
    position: static;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background: green;
}
#c{
    position: static;
    width: 200px;
    height: 200px;
    background: red;
}
#d{
    position: static;
    width: 200px;
    height: 200px;
    background: yellow;
}