body{
    background: #222222;
}
.text1{
    color: rgb(255,255,255);
}
.text2{
    color: rgba(255,255,255,0.8);
}
.text3{
    color: rgba(255, 255, 255, 0.5);
}
.text4{
    color: rgba(255, 255, 255, 0.2);
}