div#wrapper{
    position: relative;
}
.box{
    position: absolute;
    width: 100px;
    height: 100px;
}
#b1{
    z-index: 1;
    background: blanchedalmond;
}
#b2{
    top: 20px;
    left: 50px;
    z-index: 3;
    background: cadetblue;
}
#b3{
    top: 50px;
    left: 20px;
    z-index: 2;
    background: skyblue;
}