.container{
    display: grid;
    /* grid-template-columns: 200px 200px; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;
    border: 4px solid lightgray;
}
.item{
    border: 2px dashed red;
}